<!-- <div class="flex justify-center items-center h-screen">
  <div class="relative">
    <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Card Number</label>
    <input
      class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-96 focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
      type="text" id="name" value="Hai Sophearith">
    <img class="absolute bottom-6 right-2" src="../../../assets/img/Visa_logo.svg" alt="logo">
  </div>
</div> -->




<div>
  <div class="bg-gray-50">
    <div class="mx-auto max-w-7xl px-16 lg:px-16 ">
      <div class="mx-auto gap-3 p-3 mt-2 max-w-2xl rounded-3xl sm:mt-2 lg:mx-0 lg:flex lg:max-w-none">
        <!-- card1 -->

        <div
          class="-p-6  sm:p-10 lg:flex-auto bg-white rounded-2xl py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16 ">
          <div class="">
            <div class="w-100%">
              <div>
                <div class="flex justify-center items-center">
                  <img class="flex justify-center items-center" src="../../../assets/img/Kb_prasac_bank_logo.svg"
                    alt="">
                </div>
                <!-- Card Number -->
                <div class="relative mt-10">
                  <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Card Number</label>
                  <input
                    class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                    type="text" id="name" value="1224 5654 0090 2345">
                  <img class="absolute bottom-6 right-2" src="../../../assets/img/Visa_logo.svg" alt="logo">
                </div>
                <!-- Card Holder Name -->
                <div class="relative mt-2">
                  <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Card Holder Name</label>
                  <input
                    class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                    type="text" id="name" value="Hai Sophearith">
                </div>
                <!-- Expiry Date -->
                <div class="flex gap-2 pt-2">
                  <div class="relative">
                    <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Expiry Date</label>
                    <input
                      class="text-[20px] pt-8 border-2 border-gray-200 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                      type="text" id="name" value="05 / 28">
                  </div>
                  <!-- CVV -->
                  <div class="relative">

                    <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">CVV</label>
                    <input ng-maxlength=3
                      class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent appearance-none"
                      type="number" id="name" value="171">
                  </div>
                  <!-- ZIP Code -->
                  <div class="relative">
                    <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">ZIP Code</label>
                    <input
                      class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                      type="text" id="name" value="12351">
                  </div>
                </div>

                <div class="flex mt-4 w-full gap-3">
                  <div class="relative w-2/12">
                    <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Country code</label>
                    <input
                      class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                      type="text" id="name" value="+885">
                  </div>
                  <div class="relative w-10/12">
                    <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Phone Number</label>
                    <input
                      class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                      type="text" id="name" value="15 232 788">
                  </div>
                </div>

                <!-- email optional -->
                <div class="relative mt-4">
                  <label class="absolute left-3 top-1 text-[12px] text-gray-500" for="name">Email (optional)</label>
                  <input
                    class="text-[20px] pt-8 border-2 border-gray-300 rounded-xl py-4 w-full focus:outline-yellow-500 focus:ring-yellow-500 focus:border-transparent"
                    type="text" id="name" value="sophearithhai@gmail.com">
                </div>
                <!-- button -->
                <div class="flex justify-between mt-auto pt-5">
                  <button class="bg-gray-300  text-black rounded-xl py-2 px-4 ">
                    Close
                  </button>
                  <button class="bg-yellow-400  text-black  py-2 px-4 rounded-lg">
                    Continue
                  </button>

                </div>


              </div>

            </div>
          </div>
        </div>


        <!-- card2 -->
        <div class=" lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
          <div
            class="rounded-2xl bg-white py-2 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-10">


            <div class="px-4 space-y-4">
              <h1 class="font-bold flex justify-start">Transaction Summary</h1>
              <div class="flex justify-between">
                <span class="opacity-50">Order ID:</span>
                <span>202109141000282484</span>
              </div>

              <div class="flex justify-between">
                <span class="opacity-50">Subtotal:</span>
                <span>1750.00 USD</span>
              </div>
              <div class="flex justify-between">
                <span class="opacity-50">Transaction Fee:</span>
                <span>00.00 USD</span>
              </div>
              <div class="border-t border-gray-300 border-1 my-4"></div>
              <div class="font-bold flex justify-between">
                <span class="text-lg">Total Amount</span>
                <span>1750.00 USD</span>
              </div>
              <div class="flex justify-center items-start h-full">
                <div class="flex flex-col justify-end">
                  <img class="h-110 w-400 mt-80" src="../../../assets/img/btn_checkout.svg" alt="KB PRASAC Logo">
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
