<div class="bg-white p-6 rounded-lg shadow-lg flex justify-between items-center">
  <div class="flex items-center space-x-2">
    <div class="h-6 w-6 rounded-full border-2 border-blue-500 flex items-center justify-center">
      <span class="text-blue-500 font-bold">G</span>
    </div>
    <h2 class="text-blue-500 text-lg font-bold">GOGO Mall</h2>
  </div>
  <h2 class="text-yellow-500 text-lg font-bold">CHECKOUT</h2>
</div>




<div class="flex items-center justify-center h-screen">
  <div class="relative p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
    <div class="relative flex-shrink-0">
      <!-- Top left corner -->
      <svg class="absolute top-0 left-0" width="36" height="36" viewBox="0 0 36 36" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M34 2H14C7.37258 2 2 7.37258 2 14V34" stroke="#FFBC00" stroke-width="4" stroke-linecap="round" />
      </svg>

      <!-- Top right corner -->
      <svg class="absolute top-0 right-0" width="36" height="36" viewBox="0 0 36 36" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2H22C28.6274 2 34 7.37258 34 14V34" stroke="#FFBC00" stroke-width="4" stroke-linecap="round" />
      </svg>

      <!-- Bottom left corner -->
      <svg class="absolute bottom-0 left-0" width="36" height="36" viewBox="0 0 36 36" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M34 34H14C7.37258 34 2 28.6274 2 22V2" stroke="#FFBC00" stroke-width="4" stroke-linecap="round" />
      </svg>

      <!-- Bottom right corner -->
      <svg class="absolute bottom-0 right-0" width="36" height="36" viewBox="0 0 36 36" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M2 34H22C28.6274 34 34 28.6274 34 22V2" stroke="#FFBC00" stroke-width="4" stroke-linecap="round" />
      </svg>

      <!-- Image -->
      <img class="w-36 h-36"
        src="https://firebasestorage.googleapis.com/v0/b/upload-5db67.appspot.com/o/download.png?alt=media&token=68ff39d8-a2ad-4130-a275-aba9bb576ed3"
        alt="">
    </div>

    <!-- <svg class="absolute top-0 right-0 mt-2 ml-2 w-6 h-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>

    <svg class="absolute top-0 right-2 mt-2 ml-2 w-6 h-6 text-orange-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />

    </svg>
    <svg class="absolute top-0 left-2 mt-2 mr-2 w-6 h-6 text-orange-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
    <svg class="absolute top-0 left-0 mt-2 mr-2 w-6 h-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg> -->
  </div>
</div>
